<div class="row">
   <div class="input-field col s2">

<%= form_for @artist, url: create_artists_path, html: {method: "post"} do |f| %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <a class="waves-effect waves-light black btn"><%= f.submit("Scrape") %></a>
  </div>

<% end %>
  </div>
</div>
