<div class="container">
  <%= form_for @artist, url: create_artists_path, html: {method: "post"} do |f| %>
    <div class="input-field col s6">
      <%= f.text_field :name %>
    </div>
    <div class="center-btn"><br>
    <a class ="waves-effect waves-light teal btn"><%= f.submit("Submit") %></a>
    <% end %>
  </div>
</div>
