/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 @import "materialize";
 @import "materialize/extras/nouislider";

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  list-style: none;
}

.wrapper {
  display:flex;
}

.nav-menu {
  flex:1.5;
}

.parallax-page {
  flex:5;
}

.parallax-container {
  overflow: hidden;
}

.fixed {
  position: fixed;
  height: 100vh;
  color: #fff;
  padding: 25px;
  background-color: black;
  width: 20%
}

.fixed ul {
  margin-top: 50px;
}

.section {
  display:flex;
  align-items: center;
  height: 600px;
  background-color: #000;
  color: #f0f0f0;
}

.section li {
  list-style: none;
  margin-bottom: 10px;
}

.footer {
  display:flex;
  align-items: center;
  height: 150px;
  background-color: #000;
  color: #f0f0f0;
  font-size: 14px;

}

h2 {
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 24px;
}

a.button-collapse {
  color: white;
  background-color: inherit;
  display: inline;
}

a {
  color: #fff;
  outline: none;
}

a:hover {
  text-decoration: underline;

}

a input[type="submit"] {
  color: #f000;
  background-color: inherit;
  border: 0px solid black;
  padding-left: 0px;
  outline: none;

}

input#artist_name {
  border-bottom: 1px solid #fff;
  width: 90%;

}

label {
  color: #fff;
}

.search_artist {
  font-size: 18px;
  margin-bottom: 43px;

}

img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
