/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 @import "materialize";
 @import "materialize/extras/nouislider";

 nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 100%;
 }

 .btn {
   color: white;
 }

 nav ul a,
 nav .brand-logo {
   color: #444;
 }

 p {
   line-height: 2rem;
 }

 .button-collapse {
   color: #26a69a;
 }

 .style_image {
   opacity: 0.3;
 }

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;

 }

   .parallax-container .section {
     width: 100%;
   }

 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 #artistimage img{
   max-height: 400px;
   max-width: 600px;
 }

 .tourdates {
   max-height: 1000px;
   max-width: 400px;
 }

 footer.page-footer {
   margin: 0;
 }

.input-field label {
   color: white;
 }

 .center-btn {
   text-align: center;
 }
