/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 @import "materialize";
 @import "materialize/extras/nouislider";

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  list-style: none;
  color: #bfb283;
}

.wrapper {
  display:flex;
}

.nav-menu {
  flex:1.5;
}

.parallax-page {
  flex:5;
}

.parallax-container {
  overflow: hidden;
}

.fixed a {
  color: #bfb283;
}

.fixed {
  position: fixed;
  height: 100vh;
  padding: 25px;
  padding-top: 10px;
  color: #bfb283;
  background-color: black;
  width: 20%;
}

.fixed ul {
  color: #bfb283;
  margin-bottom: 60px;

}

.section {
  display:flex;
  align-items: center;
  height: 600px;
  background-color: #000;
}

.section li {
  list-style: none;
  margin-bottom: 10px;
}

.section a input[type="submit"] {
  padding-left: 0px;
  outline: none;
  color: #000;
  margin-bottom: 50px;
  font-size: 12px;
}

h2 {
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  letter-spacing: 3px;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 24px;
}

a.button-collapse {
  background-color: inherit;
  display: inline;
}

a {
  outline: none;
  color: #000;
}

a:hover {
  text-decoration: underline;

}

a input[type="submit"] {
  background-color: #bfb283;
  outline: none;
  color: #000;
  margin-bottom: 50px;
  font-size: 12px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #bfb283;
  border-radius: 7px;
}

input#artist_name {
  border-bottom: 1px solid #fff;
  width: 90%;
  color: #fff;
}

label#search {
  margin-top: 50px;
  color: #fff;
  text-decoration: underline;
}

#remove {
  color: #fff;}

.gold {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  letter-spacing: 5px;
  line-height: 16px;
}

.whitey {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
}

.section .button {
  border: 1px solid #bfb283;
  background-color: #bfb283;
  border-radius: 7px;
  font-size: 12px;
  color: #000;
  outline: none;
  width: 72px;
  padding-left:5px;
  padding-right:4px;
}

img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
