<header id="header">
  <div class="content">
    <nav id="nav">
      <div id="logo">
        <a href="">MY MUSIC</a>
      </div>
      <ul>
        <li><a href="#slide1" class="active" title="Next Section" >Artist</a></li>
        <li><a href="#slide2" title="Next Section">Slide 2</a></li>
        <li><a href="#slide3" title="Next Section">Biography</a></li>
        <li><a href="#slide4" title="Next Section">Tour dates</a></li>
        <li><a href="#slide5" title="Next Section">News</a></li>
      </ul>
    </nav>
  </div>
</header>
