<!DOCTYPE html>
<html>
<head>
  <title>Music scraper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
<script>
window.sr = ScrollReveal({ reset: true });
sr.reveal('.section', { duration: 1000, distance: '0px', origin: "top", scale: 1,
});
</script>
</body>
</html>
