<!DOCTYPE html>
<html>
<head>
  <title>Music Scraper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,900italic,900,800italic,700italic,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,800' rel='stylesheet' type='text/css'></head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
<script>
window.sr = ScrollReveal({ reset: true });
sr.reveal('.section', { duration: 1000, distance: '0px', origin: "top", scale: 1,
});
</script>
</body>
</html>
